<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Formulari</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">formulari</ion-title>
    </ion-toolbar>
  </ion-header>

  <form (submit)="onFormSubmit()">
    <ion-item>
      <ion-label>País</ion-label>
      <ion-select [(ngModel)]="id_country" name="id_country">
        <ion-select-option *ngFor="let country of countries" [value]="country.id">
          {{ country.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Alias</ion-label>
      <ion-input type="text" [(ngModel)]="alias" name="alias"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Dirección</ion-label>
      <ion-input type="text" [(ngModel)]="address1" name="address1"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Ciudad</ion-label>
      <ion-input type="text" [(ngModel)]="city" name="city"></ion-input>
    </ion-item>
    <ion-button expand="full" type="submit">Enviar</ion-button>
  </form>
</ion-content>
