<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <ion-tabs>

    <ion-tab-bar slot="llistat">
      <ion-tab-button tab="llistat" (click)="navigateHome()">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="carrito" (click)="navigateCart()">
        <ion-icon name="cart-outline"></ion-icon>
        <ion-label>Carrito</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  
  </ion-tabs>  
</ion-app>
